h1 {
  color: rgb(236, 12, 12);
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}
h2 {
  color: rgb(40, 71, 212);
  font-family: sans-serif;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

p {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: x-large;
}

body {
  background-color: rgb(219, 208, 50);
}

img {
  width: 800px;
  height: 500px;
  margin-left: 40vw;
  margin-right: 40vw;
  border-radius: 8px;
}
button {
  background-color: #146bce;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  text-align: right;
}
